.get-offer{
    // background-color: red;
    background: url(../image/campaign-bg2.png);
    padding: 8px 0;
    position: relative;
    // display: flex;
    p{
        color: rgb(214, 194, 194);
        gap: 10px;
        span{
            color: #fff;
        }
        a{
            text-decoration: underline;
            color: #fff;
        }
    }
    .close-btn{
        position: absolute;
        padding: 3px 10px;
        // width: 20px;
        // height: 20px;
        // background-color: red;
        border-radius: 50%;
        right: 20px;
        top: 50%;
        text-align: center;
        align-items: center;
        transform: translateY(-50%);
    }
}
// #part2{
//     background: red;
// }